


<!--<div layout="coulumn" layout-align="center center" style="padding: 40px" ng-cloak>
    <div layout="column" layout-align="center center">
        <md-select placeholder="Choose a Champion" ng-model="controller.champ" style="min-width: 200px;">
            <md-option ng-value="champ" ng-repeat="(champ, info) in controller.champs">{{info.name}}, {{info.title}}</md-option>
        </md-select>
    </div>
</div>-->

<div class="md-padding" layout="row" layout-align="center center" ng-cloak>
    <div>
        <h1 class="md-title">Select a Champion</h1>
        <div layout="row">
            <md-input-container>
                <label>Items</label>
                <md-select ng-model="controller.champ" ng-change="controller.getChamp()">
                    <md-optgroup label="items">
                        <md-option ng-value="info" ng-repeat="(champ, info) in controller.champs">{{info.name}}, {{info.title}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
    </div>
</div>
<div class="md-padding" layout="row" layout-align="center center">
    <p>the currently selected champion is {{controller.champ.name}}</p>
    <!--{{controller.champ.id}}-->
</div>

<!--<md-button class="md-raised md-primary" ng-click="controller.getChamp()">Select Champ</md-button>-->


<!--<ul>
    <li ng-repeat="(champ, info) in controller.champs">{{info.name}}, {{info.title}}</li>
</ul>-->